
#mindbox-console {
	position: fixed; 

	top: 50%; 
	left: 20%;
	margin-top: -100px; 
	margin-left: -100px;

	padding: 20px;

	width: 48%;
	min-height: 40px;

	border-radius: 20px;
	background: #eee;	

	display: none;

	box-shadow: 0px 0px 5px rgba(12, 22, 33, 0.3);

	font-family: Roboto, sans-serif;
	font-size: 20px;

	color: rgb(12, 22, 33);
}

#mindbox-console .flex {
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

#mindbox-console .flex .prompt {
	font-weight: bolder;
	margin-right: 10px;
}

#mindbox-console .flex .input {
	flex-grow: 1;
	outline: 0px solid transparent;
}
