
#mindbox-domtree {
	position: fixed; 
	top: 30%; 
	left: 72%;
	margin-top: -100px; 
	margin-left: -100px;

	padding: 20px;

	width: 30%;
	min-height: 70%;

	border-radius: 20px;
	background: #eee;	

	display: none;

	box-shadow: 0px 0px 5px rgba(12, 22, 33, 0.3);

	font-family: Roboto, sans-serif;
	font-size: 20px;

	color: rgb(12, 22, 33);
}

#mindbox-domtree .node {
	margin-left: 10px;
}